@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  @media print {
    body * {
      visibility: hidden;
    }
  
    #pdf-viewer,
    #pdf-download-link {
      visibility: visible;
    }
  }
  